<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <div class="mb-4">
      <%= f.label :login, "Username / Email" %><br />
      <%= f.email_field :login, autofocus: true %>
    </div>

    <div class="mb-4">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>

    <div class="flex items-center justify-between">
      <%= f.submit "Log in", class: "cta-btn" %>

      <%= link_to "Forgot password?",
        new_password_path(resource_name),
        class: "inline-block" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="flex items-baseline gap-2 py-2">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  </div>

<% end %>

<div class="text-center">
  <p class="text-grey-500 text-sm">
    Don't have an account?
    <%= link_to "Create an Account", new_user_registration_path %>.
  </p>
</div>
